@font-face{
font-family:"Univers Next W01 Light";
src:url("linotype-univers-330/777460/63aa74f9-a724-4074-85c7-4167c0448227.eot?#iefix");
src:url("linotype-univers-330/777460/63aa74f9-a724-4074-85c7-4167c0448227.eot?#iefix") format("eot"),url("linotype-univers-330/777460/fc09acb4-f628-4ba0-b648-d2ca30265b20.woff") format("woff"),url("linotype-univers-330/777460/3cb4004c-2eea-45d4-a0b5-7af6f817c451.ttf") format("truetype"),url("linotype-univers-330/777460/4d6ce461-aa11-472f-af6d-7466479534e1.svg#4d6ce461-aa11-472f-af6d-7466479534e1") format("svg");
}

