@import "_mixins.scss";
@import "compass/css3";

.vmin-demo {
  background-color: red;
  color: white;
  font-family: "Arial", "Helvetica", sans-serif;
  margin: 0 auto;
  font-weight: bold;

  /*
   * Using border-box sizing, to ensure the box
   * is exactly 80vw wide, no matter how much padding
   * or border.
   */
  @include box-sizing(border-box);
  padding: 10px;


  /*
   * Modern browsers.
   */
  width: 80vmin;
  height: 80vmin;
  font-size: 6vmin;


  /* IE9 and 10 */
  content: 'viewport-units-buggyfill;' 
           'width: 80vmin;'
           'height: 80vmin;'
           'font-size: 6vmin;';
}
